cmbody {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;


}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: vazir;
  font-style: normal;
  src: url(font/vazir/Vazir.eot);
  src: url(font/vazir/Vazir.eot?#iefix) format('embedded-opentype'),  /* IE6-8 */
  url(font/vazir/Vazir.woff2) format('woff2'),  /* Chrome36+, Opera24+*/
  url(font/vazir/Vazir.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url(font/vazir/Vazir.ttf) format('truetype');
}
